<h1>Add new workout</h1>

<form [formGroup]="newWorkoutForm" (ngSubmit)="onSubmit()">

  <button mat-raised-button color="primary" (click)="setMode('minutes')">By minutes</button>
  <button mat-raised-button color="primary" (click)="setMode('repetitions')">By repetitions</button>

  <ng-container *ngIf="f.mode.value">
    <div formArrayName="exercises"
    *ngFor="let exercise of newWorkoutForm.controls['exercises'].controls; let i = index;">
      <div [formGroupName]="i">
        <input mat-input formControlName="exercise" placeholder="Item name">
        <input 
          matInput 
          [placeholder]="(f.mode.value === 'minutes')? 'Add minutes': 'Add repetitions'" 
          formControlName="qty" >
      </div>
    </div>
  </ng-container>
  <button mat-button type="button" (click)="addExercise()">Add Next</button>

<a mat-raised-button [routerLink]="['/']">Back</a>