<h1>Add new workout</h1>

<div class="difficulty-block">
  <span>Difficulty:</span>
  <strong>{{ difficulty }}</strong>
</div>

<form [formGroup]="newWorkoutForm" (ngSubmit)="onSubmit()">

  <button mat-raised-button color="primary" (click)="setMode('minutes')">By minutes</button>
  <button mat-raised-button color="primary" (click)="setMode('repetitions')">By repetitions</button>

  <ng-container *ngIf="f.mode.value">
    <div formArrayName="exercises"
    *ngFor="let exercise of newWorkoutForm.controls['exercises'].controls; let i = index;">
      <div [formGroupName]="i">
        <mat-select
          [placeholder]="'Choose an exercise'"
          formControlName="exercise"
          required >
          <mat-option 
            *ngFor="let option of exercisesData"
            [value]="option.id" >
            {{option.name}}
          </mat-option>
        </mat-select>
        <input 
          matInput 
          required
          [placeholder]="(f.mode.value === 'minutes')? 'Add minutes': 'Add repetitions'" 
          formControlName="qty" >
      </div>
    </div>
  </ng-container>
  <button mat-button type="button" (click)="addExercise()">Add Next</button>
  <button mat-button type="button" (click)="onSubmit()">SUBMIT</button>

<a mat-raised-button [routerLink]="['/']">Back</a>