<h2>
  workout
</h2>

<section
  *ngIf="(routine$ | async) && (exercisesData$ | async)"
  class="preview"
>
  <ul>
    <li *ngFor="let exercise of (routine$ | async).workoutExercises">
      <span>{{ getExerciseName(exercise.exerciseId) }}</span>
      <span>{{ exercise.qty }}</span>
    </li>
  </ul>
</section>

<button
  mat-raised-button
  (click)="startExercise()"
>Start Exercise</button>

<div
  class="timer-container"
  *ngIf="showTimer"
>
  <span>
    {{ timer | async }}
  </span>
</div>

<a
  mat-raised-button
  [routerLink]="['/']"
>Back</a>
